//colors
$main-color: #F1F1F1;
$body-bg: #eaf4f6;
$light-bg: #fff;
$dark-bg: #000000;
$gr-bg: #F4F4F4;
$blue: #00b0cc;
$dark-blue: #003d52;
$light-txt: #fff;
$light-grey: #e6e6e6;
$med-grey: #82807F;
$border-color: #CFCECE;
$btn-color1: #F56416;
$btn-color2: #223843;
$btn-color3: #4CB944;
$btn-color4: #39B54A;
$main-dark: #000;
